:root {
  color-scheme: light dark;
}

@font-face {
  font-family: 'Fira Next';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src:
    url('../font/FiraNext-Regular.woff2') format('woff2'),
    url('../font/FiraNext-Regular.ttf') format('truetype');
}

/* 媒体查询 */
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

* {
  font-family: 'Fira Next', 'Cascadia Code', 'Menlo', 'LXGW WenKai', 'Microsoft YaHei',
    'PingFang SC', emoji;
}
