@font-face {
  font-family: "iconfont"; /* Project id 4783308 */
  src:
    url("iconfont.woff2?t=1734332482277") format("woff2"),
    url("iconfont.woff?t=1734332482277") format("woff"),
    url("iconfont.ttf?t=1734332482277") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guibeizhu:before {
  content: "\e705";
}

.icon-hehua:before {
  content: "\e706";
}

.icon-hupilan:before {
  content: "\e707";
}

.icon-huapenlidehehua:before {
  content: "\e708";
}

.icon-huapenlidehupilan:before {
  content: "\e709";
}

.icon-huapenlidetongqiancao:before {
  content: "\e70a";
}

.icon-huapenlidexianrenzhang:before {
  content: "\e70b";
}

.icon-huapenlidexiaochuju:before {
  content: "\e70c";
}

.icon-huapenlideyifanfengshun:before {
  content: "\e70d";
}

.icon-linghua:before {
  content: "\e70e";
}

.icon-luhui:before {
  content: "\e70f";
}

.icon-tongqiancao:before {
  content: "\e710";
}

.icon-xianrenzhang:before {
  content: "\e711";
}

.icon-xiangrikui:before {
  content: "\e712";
}

.icon-xiaochuju:before {
  content: "\e713";
}

.icon-yujinxiang:before {
  content: "\e714";
}

.icon-yifanfengshun:before {
  content: "\e715";
}

.icon-xianhua:before {
  content: "\e716";
}

.icon-meigui:before {
  content: "\e717";
}

.icon-huapenlideyujinxiang:before {
  content: "\e718";
}

.icon-huapenlidexiangrikui:before {
  content: "\e719";
}

.icon-huapenlidemeiguihua:before {
  content: "\e71a";
}

.icon-huapenlideluhui:before {
  content: "\e71b";
}

.icon-huapenlidelinghua:before {
  content: "\e71c";
}

.icon-huapenlidehuaer:before {
  content: "\e71d";
}

.icon-huapenlideguibeizhu:before {
  content: "\e71e";
}
