:root {
  color-scheme: light dark;
}

@font-face {
  font-family: "Fira Next Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src:
    url("../assets/FiraNext-Regular.woff2") format("woff2"),
    url("TTF/FiraNext-Regular.ttf") format("truetype");
}

/* 媒体查询 */
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

* {
  font-family: "Fira Next Web", "Microsoft YaHei", "PingFang SC", emoji;
}
