<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="./base.css" />

    <style>
      h3 {
        color: deepskyblue;
      }

      img {
        /* 默认 inline-block */
        display: block;
      }

      #box4 .blog-post {
        width: 300px;
        display: flex;
        /* 单行, 水平方向 */
        /* justify-content: flex-start; 主轴起点对齐, 默认 */
        /* justify-content: space-between; 均匀分布: 两端距离等于 0 */
        justify-content: space-between;
        /* 单行, 垂直方向 */
        /* align-items: stretch; 填充整行, 默认 */
        /* align-items: center; 垂直居中 */
        align-items: center;
      }

      #box4 .blog-post p {
        color: orange;
      }

      table {
        border: 1px solid black;
        border-spacing: 0;
        /* 合并相邻单元格的边框 */
        border-collapse: collapse;
      }

      td,
      th {
        border: 1px solid gray;
      }

      .tab {
        border: 1px solid gray;
        padding: 10px;
        width: 100px;
      }

      .tab-button {
        border-radius: 30px;
        border: 1px solid gray;
        cursor: pointer;
      }

      .tab-button.active {
        background: lightpink;
        /* background-color:lightpink; */
      }
    </style>
  </head>

  <body>
    组件是可以复用的 Vue 实例, 有组件名<br />
    <strong>一个组件的 data 选项必须是一个函数</strong>, 每个实例可以维护独立的,
    返回对象的拷贝<br />

    组件名: button-counter<br />
    每个组件维护独立的, 返回对象 { count: 0 } 的拷贝<br />

    <div id="box1">
      <custom-counter></custom-counter>
      <custom-counter></custom-counter>
    </div>

    <h3>组件的组织</h3>
    通常, 一个应用以一个组件树的形式组织
    <img src="./assets/comp_tree.png" alt="comp_tree" width="500px" />

    组件注册的类型: 全局注册, 局部注册
    <h3>父组件通过 prop 向子组件传递数据</h3>

    <div id="box2">
      <custom-post title="Vue2"></custom-post>
      <custom-post title="爱情证书"></custom-post>
    </div>

    <div id="box3">
      <custom-post
        v-for="post of posts"
        :key="post.id"
        :title="post.title"
      ></custom-post>
    </div>

    <p><strong>每个组件必须只有 1 个根元素</strong></p>

    <div id="box4">
      <p>属性名必须是 fontSize (font-size => fontSize)</p>
      <div :style="{ fontSize: fontSizeVal + 'em' }">
        <!-- 父组件可以使用 $event 接收子组件抛出 (发射) 的参数 -->
        <!-- @enlarge-text="fontSizeVal += $event" -->
        <blog-post
          v-for="post of posts"
          :key="post.id"
          :post="post"
          @enlarge-text="enlargeText"
        ></blog-post>
      </div>
    </div>

    <h1 style="transform: rotate(0.03turn); color: lightcoral">
      v-model 只是语法糖!
    </h1>
    <div style="background-color: lemonchiffon">
      <code style="color: red"> &lt;input v-model="text"&gt; </code>

      <p>等价于</p>
      <table>
        <tr>
          <td>v-bind:value</td>
          <td>vm.data => DOM</td>
        </tr>
        <tr>
          <td>v-on:input="text = $event.target.value"</td>
          <td>DOM => vm.data</td>
        </tr>
      </table>

      <code style="white-space: pre-line; color: green">
        <!-- <input v-bind:value="text" v-on:input="text = $event.target.value"> -->
        &lt;input v-bind:value="text" v-on:input="text =
        $event.target.value"&gt;
      </code>

      <p>v-model 作用于组件时, 等价于</p>
      <code style="white-space: pre-line; color: blue">
        <!-- <custom-input v-bind:value="text" v-on:input="text = $event"></custom-input> -->
        &lt;custom-input v-bind:value="text" v-on:input="text = $event"
        &gt;&lt;/custom-input&gt;
      </code>
    </div>

    <h3>在组件上使用 v-model</h3>
    <div id="box5">
      <!-- 父组件使用 $event 接收子组件抛出 (发射) 的参数 -->
      <custom-input
        v-bind:textval="valofText"
        v-on:child2parent="valofText = $event"
      ></custom-input>
      <!-- vm.data => DOM -->
      <br />
      预览: {{ valofText }}
    </div>

    <!-- 父组件 data 选项中的响应式数据 valofText ==>
    使用 v-bind 到自定义属性 textval ==>
    父组件使用 prop 传递数据给子组件 -->

    <div id="box6">
      <custom-input2 v-model:textval="valofText"></custom-input2>
      <br />
      预览: {{ valofText }}
    </div>

    <h3>插槽 slot</h3>
    <div id="box7">
      <alert-box> 父组件使用插槽 slot 传递内容给子组件 </alert-box>
    </div>

    <h3>动态组件</h3>
    <div id="box8">
      <button
        v-for="tab of tabs"
        :key="tab"
        :class="['tab-button', { active: curTab === tab }]"
        v-on:click="curTab = tab"
      >
        {{ tab }}
      </button>
      <component :is="curTabComp" class="tab"></component>
    </div>

    有些 HTML 元素, 例如 ul, ol, table, select, 限制内部的元素<br />
    有些 HTML 元素, 例如 li, tr, option, 限制在指定元素的内部<br />

    使用有限制条件的元素时, 会遇到问题:<br />

    <code style="white-space: pre-line">
      &lt;table&gt; &lt;blog-post-row&gt;&lt;/blog-post-row&gt; &lt;/table&gt;
    </code>

    解决: 使用 is 属性, 将一个 HTML 元素转换为一个 Vue 组件实例

    <code style="white-space: pre-line">
      &lt;table&gt; &lt;tr is="blog-post-row"&gt;&lt;/tr&gt; &lt;/table&gt;
    </code>

    以下方式使用模板时，不存在该限制:
    <ol>
      <li>字符串 (例如：template: '...')</li>
      <li>单文件组件 (.vue)</li>
      <li>&lt;script type="text/x-template"&gt;</li>
    </ol>
  </body>

  <script>
    Vue.component("custom-counter" /* 组件名 */, {
      // Vue.component 接收与 new Vue 相同的选项
      // 例: data, computed, watch, methods, 生命周期钩子等选项
      // 例外: el 等根实例特有的选项
      data: function () {
        return {
          count: 0,
        };
      },
      template: '<button @click="count++">count: {{ count }}</button>',
    });

    new Vue({ el: "#box1" });

    Vue.component("custom-post", {
      // 父组件使用 prop 传递数据给子组件
      props: ["title"],
      template: '<p style="color: lightcoral">title: {{ title }}</p>',
    });

    new Vue({ el: "#box2" });

    new Vue({
      el: "#box3",
      data: {
        posts: [
          { id: 1, title: "Vue3" },
          { id: 2, title: "和平" },
        ],
      },
    });

    Vue.component("blog-post", {
      props: ["post"],
      template: `
      <div class="blog-post">
        <h3>{{ post.title }}</h3>
        <!--
          <button @click="$emit('enlarge-text')">放大文本</button>
        -->

        <!-- 子组件使用 $emit 函数的第 2..n 个形参, 抛出 (发射) 参数给父组件 -->
        <button @click="$emit('enlarge-text', 0.1/* args */)">放大文本</button>
        <div v-html="post.content"></div>
      </div>`,
    });

    new Vue({
      el: "#box4",
      data: {
        posts: [
          { id: 1, title: "Vue3", content: "<p>学: Vue3</p>" },
          { id: 2, title: "和平", content: "<p>听: 和平</p>" },
        ],
        fontSize: "font-size",
        fontSizeVal: 1,
      },

      methods: {
        /**
         * @param {number} delta
         */
        enlargeText: function (delta) {
          this.fontSizeVal += delta;
        },
      },
    });

    Vue.component("custom-input", {
      // 父组件通过 prop 向子组件传递数据
      props: ["textval"],
      template: `
      <!-- DOM => vm.data -->
      <!-- 子组件可以使用 $emit 函数的第 2..n 个形参, 抛出 (发射) 参数给父组件 -->
      <input type="text"
             v-bind:value="textval"
             v-on:input="$emit('child2parent', $event.target.value)"
      />`,
    });

    new Vue({
      el: "#box5",
      data: {
        valofText: "edit me!",
      },
    });

    Vue.component("custom-input2", {
      // 父组件通过 prop 向子组件传递数据
      props: ["textval"],
      template: `
      <input type="text"
             v-bind:value="textval"
             v-on:input="$emit('input', $event.target.value)"
      />`,
    });

    new Vue({
      el: "#box6",
      data: {
        valofText: "edit me!",
      },
    });

    Vue.component("alert-box", {
      template: `
        <div class="demo-alert-box">
          <strong>[WARN] </strong>
          <slot></slot>
        </div>
        `,
    });

    new Vue({
      el: "#box7",
    });

    Vue.component("tab-home", {
      template: "<div>Home component</div>",
    });
    Vue.component("tab-posts", {
      template: "<div>Posts component</div>",
    });
    Vue.component("tab-archive", {
      template: "<div>Archive component</div>",
    });

    new Vue({
      el: "#box8",
      data: {
        curTab: "Home",
        tabs: ["Home", "Posts", "Archive"],
      },
      computed: {
        /**
         * @returns {string}
         */
        curTabComp: function () {
          return "tab-" + this.curTab.toLowerCase();
        },
      },
    });
  </script>
</html>
