<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="./base.css" />

    <style>
      table {
        border: 1px solid black;
        border-spacing: 0;
        /* 合并相邻单元格的边框 */
        border-collapse: collapse;
      }

      td,
      th {
        border: 1px solid black;
      }

      p {
        color: white;
        background-color: slateblue;
        width: 500px;
        border-radius: 10px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    可以使用 v-model 指令在表单 input, textarea, select 元素上
    创建双向数据绑定<br />
    v-model 本质上是语法糖, 负责监听用户的输入事件, 以更新数据<br />

    v-model 会忽略所有表单元素的 value, checked, sekected 属性的初始值,<br />
    而是将 Vue 实例的 data 选项作为数据源 对于需要使用输入法 (中文, 日文等)
    的语言, <br />
    v-model 不会在输入法组合文字时, 更新响应式数据
    <table>
      <tr>
        <td>input type="text" 输入栏和 textarea 文本框</td>
        <td>使用 value 属性和 input 事件</td>
      </tr>
      <tr>
        <td>input type="checkbox" 复选框 (radio 单选属性)</td>
        <td>使用 checked 属性和 change 事件</td>
      </tr>
      <tr>
        <td>select 下拉列表</td>
        <td>使用 value 属性和 change 事件</td>
      </tr>
    </table>

    <div id="box1">
      <label for="form1">edit me!</label>
      <input id="form1" type="text" v-model="msg" placeholder="edit me" />
    </div>

    <div id="box2">
      <span>Multiline msg is:</span>
      <!-- 保留换行符, 必要时自动换行, 连续的空白符会合并为一个空格 -->
      <span style="white-space: pre-line">{{ msg }}</span>
      <br />
      <textarea
        id="form2"
        v-model="msg"
        placeholder="add multiple lines"
      ></textarea>
    </div>

    <div id="box3">
      <p>单个复选框, 绑定到一个布尔值</p>
      <input type="checkbox" id="checked" v-model="checked" />
      <label for="checked">checked: {{ checked }}</label>
    </div>

    <div id="box4">
      <p>多个复选框, 绑定到一个数组</p>
      <label for="song1">&check;爱情证书</label>
      <input
        type="checkbox"
        id="song1"
        value="爱情证书"
        v-model="checkedSongs"
      />
      <label for="song2">&check;和平</label>
      <input type="checkbox" id="song2" value="和平" v-model="checkedSongs" />
      <span>听: {{ checkedSongs }}</span>
    </div>

    <div id="box5">
      <p>单选框</p>
      <!--
      value 可以使用 v-bind 绑定响应式数据
        v-bind:value="songName"
      value 也可以使用 v-bind 绑定内联对象字面量
        v-bind:value="{ songName: '普通朋友' }"
       -->
      <input type="radio" id="r&b1" value="普通朋友" v-model="pickedSong" />
      <label for="r&b1">&check;普通朋友</label>
      <input type="radio" id="r&b2" value="讨厌红楼梦" v-model="pickedSong" />
      <label for="r&b2">&check;讨厌红楼梦</label>
      <span style="border-left: 3px dotted slateblue"
        >听: {{ pickedSong }}</span
      >
    </div>

    <div id="box6">
      <p>下拉单选列表</p>
      <select v-model="selectedSinger">
        <option disabled value="">单选</option>
        <option value="陶喆">&check;陶喆</option>
        <option value="孙燕姿">&check;孙燕姿</option>
      </select>
      <span>听: {{ selectedSinger }}</span>
    </div>

    <div id="box7">
      <p>下拉多选列表 (使用 multiple 属性)</p>
      <select v-model="selectedSingers" multiple>
        <option disabled value="">多选</option>
        <option value="陶喆">&check;陶喆</option>
        <option value="孙燕姿">&check;孙燕姿</option>
      </select>
      <span>听: {{ selectedSingers }}</span>
    </div>

    <div id="box8">
      <p>使用 v-for 渲染下拉单选列表的选项</p>
      <select v-model="selectedSinger">
        <option :value="opt.singer" v-for="opt of opts">
          &check;{{ opt.singer }}
        </option>
      </select>
      <span>听: {{ selectedSinger }}</span>
    </div>

    <div id="box9">
      <p>单个复选框, 指定 true-value 和 false-value</p>
      true-value 和 false-value 不会影响单选框的 value 属性
      <br />
      <input
        type="checkbox"
        v-model="toggle"
        true-value="yes"
        false-value="no"
      />
      toggle: {{ toggle }}
    </div>

    <h3>修饰符</h3>
    <ol>
      <li>
        <strong>.lazy</strong>: 默认 v-model 在每次 input 事件触发后,
        将输入值和响应式数据进行同步<br />
        使用 .lazy 修饰符, 转换为在每次 change 事件触发后, 进行同步 <br />
        例 <code>&lt;input v-model.lazy="msg"&gt;</code>
      </li>
      <li>
        <strong>.number</strong>: 自动将输入值转换为数值 (默认是字符串)<br />
        <code>type="number"</code> 表示: 只允许输入数字字符<br />
        例 <code>&lt;input v-model.number="age" type="number"&gt;</code>
      </li>
      <li>
        <strong>.trim</strong>: 自动删除输入值的首尾空白符<br />
        例 <code>&lt;input v-model.trim="msg"&gt;</code>
      </li>
    </ol>
  </body>

  <script>
    new Vue({
      el: "#box1",
      data: {
        msg: "爱情证书",
      },
    });

    new Vue({
      el: "#box2",
      data: {
        msg: "和平",
      },
    });

    new Vue({
      el: "#box3",
      data: {
        checked: true,
      },
    });

    new Vue({
      el: "#box4",
      data: {
        checkedSongs: ["晴天"],
      },
    });

    new Vue({
      el: "#box5",
      data: {
        pickedSong: "晴天",
      },
    });

    new Vue({
      el: "#box6",
      data: {
        selectedSinger: "方大同",
      },
    });

    new Vue({
      el: "#box7",
      data: {
        selectedSingers: ["方大同"],
      },
    });

    new Vue({
      el: "#box8",
      data: {
        selectedSinger: "方大同",
        opts: [{ singer: "陶喆" }, { singer: "孙燕姿" }],
      },
    });

    new Vue({
      el: "#box9",
      data: {
        toggle: "current undefined",
      },
    });
  </script>
</html>
